* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    line-height: 24px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    background: #fff;
    position: relative;
}

/* ================ TOP ================ */
.top {
    padding: 8px 12px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
}

.top a:hover {
    text-decoration: underline;
}

.top .profil {
    padding: 5px;
    cursor: pointer;
}

.top .profil .text-profil {
    font-size: 15px;
    width: 30px;
    height: 30px;
    background: #7b1fa2;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.md-dark {
    color: #5f6368;
}
.top .material-icons-outlined {
    padding: 8px;
    cursor: pointer;
}
.top .material-icons-outlined:hover, .top .profil:hover{
    background: #f0f0f0;
    border-radius: 50%;
}

/* ================ BODY ================ */
.body {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.body .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* --- Logo --- */
.body .container img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* --- Search Bar --- */
.body .container #searchBox {
    height: 44px;
    width: auto;
    max-width: 584px;
    margin: 0 auto;
    padding: 0px;
    border-radius: 24px;
    background: #fff;
    border: 1px solid #dfe1e5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.body .container #searchBox span {
    margin-left: 20px;
    font-size: 1.5rem;
}

.body .container #searchBox .mic-icon {
    margin-right: 20px;
    width: 13px;
}

.body .container #searchBox input {
    margin-left: 20px;
    font-size: 1.23rem;
    width: 500px;
    border: 0;
    background: transparent;
    outline: none;
}

/* --- Shortcuts --- */
.body .shortcuts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.body .shortcuts .shortcut {
    width: 112px;
    height: 112px;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.body .shortcuts .shortcut .img-shortcut {
    width: 48px;
    height: 48px;
    background: #f1f3f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.body .shortcuts .shortcut .img-shortcut img {
    width: 24px;
    height: 24px;
}

.body .shortcuts .shortcut:hover {
    background: #e8e8e9;
    transition: all 300ms ease;
}

/* ================ CUSTOMIZE BUTTON ================ */

.customizeButton {
    padding: 4px 15px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    background: #202124;
    border-radius: 25px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
    cursor: pointer;
}
.customizeButton span {
    color: #8ab4f8;
    font-size: 1.23rem;
    display: flex;
    align-items: center;
}

.customizeButton p {
    color: #8ab4f8;
}
